@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body class="login-page my-5 pt-5">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="row login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="../../index2.html" class="h1"><b>Music Web</b></a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Sign in to start your session</p>

                    <partial name="_StatusMessage" for="ErrorMessage" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post">
                        <div class="mb-3">
                            <div class="input-group">
                                <input asp-for="Input.UserName" class="form-control" placeholder="UserName">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</body>