@if (ShowConfirmation)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Please wait, this may take a while
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}
@code {
    private bool ShowConfirmation { get; set; }

    public void Show()
    {
        ShowConfirmation = true;
        StateHasChanged();
    }

    public void Close()
    {
        ShowConfirmation = false;
        StateHasChanged();
    }
}
