@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&display=swap');
$material-dark: (
    "background": #0d1117,
    "cards": transparent,
);
$body-font-family: 
 'Montserrat', sans-serif !default;
p {
  color: gray;
  margin: 0;
  word-break: break-word;
}
p > span{
  color: white;
}
.v-card__title {
  word-break: break-word;
  &.v-card__subtitle{
    word-break: break-word;
  }
}
.link-to-item{
  cursor: pointer;
}