<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MusicWeb.Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="MusicWeb.Admin.styles.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/adminlte.min.css">

</head>

<body class="bg-pattern">
    <div class="bg-overlay"></div>
    @RenderBody()
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/assets/js/adminlte.js"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
